.footer {
	height: 50px;
	background-color: $dourado;
	width: 100%;
	line-height: 50px;

	.copy {
		float: left;
		color: #ffffff;
		font-size: .625rem;
	}

	.di20 {
		float: right;
		@include animacao;

		img {
			position: relative;
			top: 4px;
		}

		&:hover {
			opacity: .5;
		}
	}

	@media all and (max-width: 400px){
		height: auto;
		padding: 20px 0;

		.copy, .di20 {
			display: block;
			float: none;
			text-align: center;
			line-height: 25px;
		}
	}
}