.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;

	.top-header {
		height: 60px;
		background-color: #ffffff;
		@include clear;

		@media all and (max-width: 400px){
			height: 40px;
		}

		.tel {
			font-size: 1.125rem;
			color: $vermelho;
			float: right;
			line-height: 60px;
			font-weight: $bold;

			@media all and (max-width: 400px){
				font-size: 0.875rem;
				line-height: 40px;
			}
		}

	}

	.top-menu {
		height: 60px;
		background-color: $vermelho;
		border-bottom: 5px solid $dourado;
		@include clear;

		h1 {
			margin-top: -44px;

			@media all and (max-width: 400px){
				max-width: 130px;
				margin-top: -20px;
			}
		}

		.box-menu {
			float: right;
		}
	}

	@media all and (max-width: 1100px){
		.container {
			padding: 0 20px;
		}
	}
}